body
  background-color #f6f6f6
  margin 0px

.jump1
  margin-top: 10px

.box
  background-color: #fff
  border-radius: 8px
  border: 3px solid #1A9FD1
  position absolute
  width: 520px

.btn-primary
  background-color: #1A9FD1
  border: 2px solid #0D66AC
  width: 100%

.inside
  padding: 16px

.header
  background-color: #ffffff
  border-radius: 8px 8px 0px 0px
  a
    img
      display block
      margin: 0px auto
      width: 90%

.footer
  text-align: center;
  a
    display: inline-block;
    &:last-child
      margin-left: 80px

.rfooter
  text-align: center;



.box_login
  left: calc(50% - 260px)
  top: calc(30% - 119px)

.box_register
  left: calc(50% - 260px)
  top: calc(60% - 410px)
